@import "./assets/css/controlls.css";
@import "./assets/css/progressbar.min.css";

.nav-header{
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin-bottom: 10px;
}
.dark-mode .nav-header{
    border-color: #222;
    background: #000;
}
main{
    padding-top: 0px;
}

.sidebar {
  padding: 20px;
  display: flex;
  position: fixed;
  left: 0;
  top: -14px;
  height: 100vh;
  width: 320px;
  flex-direction: column;
  background: #fff;
  border-right: 1px solid #ddd;
  z-index: 999;
  transition: max-width 0.5s ease;
}

.sidebar li{
    padding: 10px;
    background: #eee;
    margin-bottom: 10px;
    border-radius: 8px;  
     list-style-type: none;
}

.sidebar li a{
    text-decoration: none;
    color: #222;
}

.sidebar label{
    margin-top: -15px;
}

.dark-mode .sidebar{
    background: #222;
    border-color: #000;
    color: #eee;
}

.dark-mode .sidebar li{
    background: #333;
}

.dark-mode .sidebar li a{
    color: #eee;
}

.sidebar li a.active, .header-menu li a.active{
    color: red;
}

.active {
  color: red;
  font-weight: bold;
}