.calendar-main {
  display: flex;
  margin: 0 auto;
}
.calendar-container {
  width: 100%;
  background: #fff;
  padding: 0px;
  font-family: sans-serif;
}

.calendar-title {
  padding-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.moonPhase{
  font-family: KhmerOSSiemreap, sans-serif, cursive, serif;
  font-size: 10px;
  margin-top: -3px;
}
.dark-mode .calendar-container{
    background: #000;
    color: #eee;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  text-align: center;
}

.buddha{
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: rgb(238, 255, 0);
  background-image: url('../images/buddha-1.png');
  background-size: cover;

  border-radius: 50%;
  margin-right: 4px;
}

.day-name {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.dark-mode .day-name {
  border-bottom: 1px solid #333;
}

.day {
  padding: 4px 2px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Today highlight (matches your blue box) */
.day.today {
  background-color: #f80303;
  color: white;
  border-radius: 4px;
}

/* Sundays and Saturdays in red */
.calendar-grid .day:nth-child(7n+1), 
.calendar-grid .day:nth-child(7n) {
  color: #f80303;
}

.day.empty {
  color: #ccc;
}

.holiday-list-ui {
  width: 450px;
  margin-top: 0px;
  padding-left: 20px;
  border-radius: 8px;
  margin-left: 20px;
  border-left: 1px solid #eee;
}

.dark-mode .holiday-list-ui {
  border-color: #444;
}

.holiday-list {
  margin-top: 0;
  padding: 10px 4px;
  margin: 0;
}

.holiday-date {
  display: block;
  width:40px;
  min-width:40px;
  font-weight: bold;
  color: #333;
  padding: 5px 5px;
  text-align: center;
   border-right: 1px solid #eee;
}
.dark-mode .holiday-date {
  color: #aaa;
  border-color: #444;
}
.holiday-name{
  display: block;
  color: #333;
  margin-top: 2px;
  padding: 5px 10px;
}
.dark-mode .holiday-name {
  color: #aaa;
}

.holiday-list{
  width: 100%;
}

@media screen and (max-width: 480px) {
  .calendar-main{
    flex-direction: column;
  }

  .holiday-list-ui {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
  } 

  .holiday-list{
    padding: 5px 0px;
  }
  .holiday-name{
    margin-left: 0px;
    padding: 5px 10px;
  }
    
} 
